@import 'styles/_variaveis.module.scss';

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-family: $fontTeck;
    font-weight: bold;
    margin: 1em 0 0 0;

    svg{
        color: $colorSecundaria;
    }
}