@import 'styles/_variaveis.module.scss';

.apresentacao{    
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/dbGeometric.png');    
    row-gap: 2rem;
    padding: 0 1rem 0 1rem;    

    h2{
        font-size: 4rem;
        font-family: $fontTeck;
        font-weight: bold;
        color: $colorPrincipal-4;
    }
    p{
        font-size: 1.6rem;
        font-family: $fontTeck;
        font-weight: bold;
        color: $colorPrincipal-4;
    }
    button{
        cursor: pointer;
        font-size: 1.6rem;
        padding: .5em 2em;
        border-radius: .5em;
        border: none;
        background-color: $colorSecundaria;        
        opacity: .7;
        z-index: 1;
        &:hover{
            animation: jelly 0.5s;
        }
        a{
            color: $branco;
            text-decoration: none;
        }
    }
}


@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}